

<div class="shorts-grid">
  <div class="shorts-card">
    <img src="https://i.pinimg.com/474x/64/22/db/6422db4cfe1915bd4e8c14e6cfbe8a97.jpg" alt="Short Thumbnail" />
    <div class="overlay"><p>Short Title</p></div>
  </div>
  <div class="shorts-card">
    <img src="https://i.pinimg.com/736x/0d/8e/51/0d8e51cb00b232643ad35d19485b17da.jpg" alt="Short Thumbnail" />
    <div class="overlay"><p>Short Title</p></div>
  </div>
  <!-- Repeat Short Cards -->
</div>

