<div class="tabs">
  <button class="tab active">All</button>
  <button class="tab">Gaming</button>
  <button class="tab">Podcasts</button>
  <button class="tab">Comedy</button>
  <button class="tab">Music</button>
  <!-- Add More Tabs -->
</div>
